*.opensdf
*.obj
SpriteEditor2/Debug/SpriteEditor.log
*.tlog
SpriteEditor2/Debug/VectorPlay2.tlog/CL.write.1.tlog
*.pdb
Debug/VectorPlay2.exe
*.log
VectorPlay/Debug/VectorPlay.log
*.exe
Debug/VectorPlay2.exe
*.ilk
Debug/VectorPlay2.pdb
Debug/VectorPlay2.exe
*.ilk
Debug/VectorPlay2.pdb
*.idb
VectorPlay/Debug/VectorPlay.log